.Card {
  width: 100%;
  height: 35vh;
  margin: 10px;
  border-radius: 20px;
  font-family: "Bolder";
  text-align: center;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.Card:hover {
  transition: 1s;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.AbrigoImg {
  width: 50%;
  margin: auto;
}

@media (max-width: 700px) {
  .AbrigoImg {
    width: 40%;
    margin: auto;
  }

  .Card {
    width: 100%;
    height: 40vh;
    gap: 20px;
    margin-top: 10%;
  }
}

@media (max-width: 500px) {
  .AbrigoImg {
    width: 50%;
    margin: auto;
  }
}
